@using AgentDashboard.Web.Components.Shared

<header class="topbar" role="banner">
    <BrandHeader />
    <NavMenu />
    <div class="topbar-right">
        <LiveClock />
        <RefreshButton />
        <CultureSelector />
    </div>
</header>
