@page "/"
@using AgentDashboard.TicketTracking.Application.Queries
@using AgentDashboard.TicketTracking.Application.Queries.Dtos
@using MediatR
@rendermode InteractiveServer
@inject IMediator Mediator

<PageTitle>Board</PageTitle>

@if (Board is null)
{
    <p>Loading...</p>
}
else
{
    <section class="board">
        @foreach (var column in Board.Columns)
        {
            <header>@column.Label</header>
            @foreach (var ticket in column.Tickets)
            {
                <div class="card">@ticket.Title</div>
            }
        }
    </section>
}

@code {
    private BoardDto? Board { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Board = await Mediator.Send(new GetBoardQuery());
    }
}
