@page "/not-found"
@layout MainLayout
@using AspNetCore.Localizer.Json.Localizer
@inject IJsonStringLocalizer<NotFound> Localizer

<h3>@Localizer["NotFound"]</h3>
<p>@Localizer["NotFoundDescription"]</p>